form .form-control {
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding: 12px 15px;
    transition: all 0.3s ease;
}

form .form-control:focus {
    border-color: #06BBCC;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25);
}

.btn-primary:hover {
    background-color: #084298;
    border-color: #06357a;
}

.shadow-sm {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
}
